@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

button {
    background-color: #111111;
    color: white;
    padding: 15px 40px;
    border: 3px solid white;
    border-radius: 12px;
    position: relative;
    font-weight: 600;
    letter-spacing: 2px;
    transition: border-color .3s ease;
    transition: border-bottom .3s ease;
    box-shadow: 0 8px 0 white;
    transition: all 0.1s ease;
}

button:hover {
    border-color: #ccc;
    box-shadow: 0 8px 0 #ccc;
}

button:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #7ce911;
    border-color: #7ce911;
    color: #7ce911;
}

h1 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 18px;
}

.logos:hover {
    transform: scale(1.2);
}

html {
    scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    p{
        font-size: 16px;
    }
}